* {
    font-family: Roboto, Times New Roman, serif;
}
.header {
    background-color: #1F2937;
}

.sign-page {
    background-color: #1F2937;

}

.info-page {

}

.quote-page {
    background-color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
}